<% content_for :head do %>
  <%= javascript_include_tag 'main' %>  
<% end %>

<% content_for :title do %>
  Contact FishKick
<% end %>

<div class='row pageSection'>
  <div class='col-md-12'>
    <div class="primaryImage overlayImage" data-image="<%= image_path('contact/contactUs.png') %>">
      <h1 class="overlayText headerText left">Contact</h1>
    </div>
  </div>
</div>

<div class="contactbox">
	<p><strong>Need help booking a trip?</strong></p>
	<p>Customer Support: (530) 338-1122</p>
	<p><a href="mailto:support@fishkick.com">support@fishkick.com</a></p>
</div>

<div class="contactbox">
	<p><strong>Guides, work with us!</strong></p>
	<p>Guide Support, Mike: (530) 338-1122</p>
	<p><a href="mailto:mj@fishkick.com">mj@fishkick.com</a></p>
</div>

<div class-"contactbox">
	<p><strong>Comments, questions, etc.</strong></p>
	<p>(530) 338-1122</p>
	<p><a href="mailto:fishkick@fishkick.com">fishkick@fishkick.com</a></p>
</div>

<%= javascript_tag do -%>
  window.FK.init()
<% end %>