<% content_for :title do %>Contact<% end %>

<%= image_tag('contact/Contact_Us.jpg', class: 'headerimage') %>

<div class="contactbox">
	<p><strong>Need help booking a trip?</strong></p>
	<p>Customer Support: (415) 275-8421</p>
	<p><a href="mailto:support@fishkick.com">support@fishkick.com</a></p>
</div>

<div class="contactbox">
	<p><strong>Guides, work with us!</strong></p>
	<p>Guide Support, Mike: (415) 275-8420</p>
	<p><a href="mailto:mj@fishkick.com">mj@fishkick.com</a></p>
</div>

<div class-"contactbox">
	<p><strong>Comments, questions, etc.</strong></p>
	<p>(415) 275-8422</p>
	<p><a href="mailto:fishkick@fishkick.com">fishkick@fishkick.com</a></p>
</div>