<% content_for :head do %>
  <%= javascript_include_tag 'main' %>
<% end %>

<div class='row pageSection'>
  <div class='col-md-12'>
    <div class="primaryImage overlayImage" data-image="<%= image_path('field.jpg') %>">
      <h1 class="overlayText headerText left">Today's FishKick Scores</h1>
    </div>
  </div>
</div>

<%= render 'main_map', local: {sites: @sites} %>

<%= javascript_tag do -%>
  window.FK.init()
<% end %>