<% content_for :head do %>
  <%= javascript_include_tag 'main' %>
<% end %>

<h1>FishKick home!</h1>

<p>Welcome to FishKick</p>

<br/>

<%= render 'top_scores', local: {sites: @sites} %>

<%= javascript_tag do -%>
  window.FK.init()
<% end %>