<div class='row'>

  <div class='col-md-2'>
    <h4><%= fish.name %></h4>
  </div>

  <div class='col-md-1 adminInfoLink'>
    <% if fish.is_active %>
      <span class='label label-success'>active</span>
    <% else %>
      <span class='label label-danger'>inactive</span>
    <% end %>
  </div>

  <div class='col-md-1 adminInfoLink'>
    <%= link_to 'edit', edit_admin_fish_url(fish), :class => 'btn btn-default' %>
  </div>

  <div class='col-md-1 adminInfoLink'>
    <%= link_to 'delete', admin_fish_url(fish), :method => :delete, data: { confirm: 'Are you sure you want to delete this fish?' }, :class => 'btn btn-default' %>
  </div>

</div>