<% content_for :head do %>
  <%= javascript_include_tag 'admin' %>
<% end %>

<ol class='breadcrumb'>
  <li><a href='/admin'>admin</a></li>
  <li><a href='/admin/fish'>fish</a></li>
  <li class='active'>edit</li>
</ol>

<h2>Admin: Edit Fish</h2>
<h1><%= @fish.name %></h1>

<%= render partial: 'form', locals: {fish: @fish} %>