<ol class='breadcrumb'>
  <li><a href='/admin'>admin</a></li>
  <li class='active'>fish</li>
</ol>

<h2>Admin: Fish</h2>
<%= link_to 'Add new fish', new_admin_fish_url, :class => 'btn btn-default addNewItemButton' %>

<%= render @fish %>