<% content_for :head do %>
  <%= javascript_include_tag 'admin' %>
<% end %>

<ol class='breadcrumb'>
  <li><a href='/admin'>admin</a></li>
  <li><a href='/admin/fish'>fish</a></li>
  <li class='active'>new</li>
</ol>

<h2>Admin: New Fish</h2>

<%= render partial: 'form', locals: {fish: @fish} %>