<ol class='breadcrumb'>
  <li class='active'>admin</li>
</ol>

<h2>Admin</h2>

<div class='mainSiteLink'>
  <%= link_to 'Sites', :admin_sites %>
</div>

<div class='mainSiteLink'>
  <%= link_to 'Fish', :admin_fish_index %>
</div>