<ol class='breadcrumb'>
  <li><a href='/admin'>admin</a></li>
  <li><a href='/admin/guides'>guides</a></li>
  <li class='active'>new</li>
</ol>

<h2>Admin: New Guide</h2>

<%= render partial: 'form', locals: {guide: @guide} %>