// Place all the styles related to the admin/site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.siteFormSection {
  margin-bottom: 30px;
}

.waterBodySelect {
  width: 120px;
  display: inline-block;
}

.siteMapLineInputBox {
  margin-bottom: 10px;
}

.mapLineInputTextbox {
  width: 100%;
  height: 100px;
}

.deleteMapLine {
  margin-top: 33px;
}

.siteReportCommentBox {
  margin-bottom: 10px; 
}

.reportCommentInputTextbox {
  width: 100%;
  height: 100px;
}

.deleteReportComment {
  margin-top: 33px; 
}

.siteFishInfoBox {
  margin-top: 30px;
  margin-bottom: 30px;
}


.imagePreview {
  max-width: 200px;
  max-height: 100px;
  margin-bottom: 10px;
}

.siteImageDeleteButton {
  display: inline-block;
}

.descriptionInputTextbox {
  width: 100%;
  height: 500px;
}