<div class='row siteFishInfosArea'>
  <table>
    <tr>
      <td></td>
      <% for i in 0..11 %>
        <td class='siteFishInfoMonth'>
          <%= I18n.t('date.abbr_month_names')[i+1] %>
        </td>
      <% end %>
    </tr>
    <%= render @site.site_fish_infos.sort_by {|sfi| sfi.fish.name} %>
  </table>
</div>