<div id='siteMap' class='siteMap' >
</div>

<%= javascript_tag do -%>

  var siteIsLake = false;
  <% if @site.water_body_type == 'lake' %>
    siteIsLake = true;
  <% end %>

  var mapLineData = [];
  <% @site.getMapLineData().each do |mld| %>
    var mapLine = [];
    <% mld.each do |p| %>
      mapLine.push( new google.maps.LatLng(<%= p['latitude'] %>, <%= p['longitude'] %>) );
    <% end %>
    mapLineData.push( mapLine );
  <% end %>

<% end %>