<% unless @site %>
  <h1>Site not found</h1>
<% else %>
  <h1>Fishing Report for <%= @site.name %></h1>

  <% if @site.description %>
    <div>
      Descriptions of <%= @site.name %>
      <p>
        <%= @site.description %>
      </p>
    </div>
  <% end %>
  
<% end %>