// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.addNewSiteButton {
  margin-top: 10px;
  margin-bottom: 30px;
}

.siteInfoLink {
  margin-top: 7px;
}