// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.addNewItemButton {
  margin-top: 10px;
  margin-bottom: 30px;
}

.adminInfoLink {
  vertical-align: middle;
  margin-top: 3px;
}

.breadcrumb {
  background-color: #f2f2f2;
}

.siteImageImage {
  max-width: 150px;
  max-height: 80px;
}