/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets
 *= require_tree .
 *= require_self
 */

body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  padding-top: 50px;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
}

.dataChart {
  width: 500px;
  height: 250px;
  margin: 10px;
}

.mainContentBox {
  margin-top: 56px;
  margin-bottom:20px;
}

.footer {
  background: #222222;
  padding-top: 15px;
  text-align: right;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;   /* Height of the footer */
}