// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fishKickLogo {
  max-width: 300px;
  max-height: 75px;
}

.mainSiteLink {
  clear: left;
  float: left;
}


.angular-google-map-container { height: 400px; }

.mainMap {
  height: 500px;
  width: 500px;
}

.topFishScoreFishImage {
  max-width: 150px;
}