// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fishKickLogo {
  max-width: 250px;
  max-height: 65px;
}

.mainSiteLink {
  clear: left;
  float: left;
}

.mainMap {
  height: 500px;
  width: 500px;
}