// Place all the styles related to the report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.guideImage {
  max-width: 100px;
}

.usgsDataChart {
  max-width: 600px;
}

.weatherDataChart {
  max-width: 900px;
  max-height: 300px;
}

.fishScoreValue {
  margin-top: 40px;
}

.fishScoreFishImage {
  max-width: 150px;
}