// Place all the styles related to the report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subheader {
  margin-bottom: 10px;
  font-size:140%;
  text-align:left;
}

.usgsDataChart {
}

.weatherDataChart {
}

.weatherDataChartDividingLine {
  stroke: #666666;
  stroke-width: 1;
}

.weatherDataChartDividingLineText {
  font-size: 17px;
  color: #999;
  font-weight: 300;
  stroke-width: 0px;
}


.fishScoreArea {
}

.fishScoreBox {
  margin-top: 20px;
}

.fishScoreImageAndLabelBox {
  margin-top: -3px;
  padding-left: 23px;
}

.fishScoreFishImage {
  max-width: 150px;
  max-height: 52px;
  margin-top: -6px;
}

.fishScoreFishName {
  margin-top: -8px;
  font-size: 15px;
}

.reportCommentsArea {
  padding-right: 50px;
}

.recentReports {
  display: inline-block;
}

.addReportComment {
  float: right;
  display: inline-block;
}

.reportCommentBox {
  margin-top:20px;
}

.reportCommentDate {
  font-style:italic;
}

#addReportCommentComment {
  width: 100%;
  height: 94px;
}

.addReportCommentModalFooter {
  margin-top: 0px;
}

.siteFishInfosArea {
  margin-left: 0px;
  margin-right: 0px;
}

.siteFishInfoMonth {
  text-align: center;
}

.siteFishInfoCircleGraphic {
  height: 30px;
  width: 30px;
  @media (max-width: 767px) {
    height: 15px;
    width: 15px;
  }
}

.siteFishInfoCircleGraphicBox {
  text-align: center
}

.siteFishInfoCircle {
  fill: #444444;
}

.siteFishInfoCircleBorder {
  fill: none;
  stroke: #444444;
}

.siteMediaBox {
  padding-left: 15px;
  padding-bottom: 30px;
}

.siteImageCarousel{
  height: 254px;
}

.siteMap {
  height: 258px;
}

.siteDescription {
  height: 200px;
}

.moreDescriptionButton {
  width: 100%;
}

.guideContainer {
  margin-bottom: 10px;
  margin-top: 30px;
}

.guideImageBox {
  padding: 0px;
}

.guideEmailLink {
  color: #555;
}

.guideInfoBox {
  padding-left: 15px;
}

.guideImageCircular {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.guidePhone {
  font-size:14px;
}

.guideEmail {
  
}

.fishScoreValue {
  width: 50px;
  height: 50px;
}