// Place all the styles related to the report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.usgsDataChart {
  max-width: 600px;
}

.weatherDataChart {
  max-width: 900px;
  max-height: 300px;
}

.fishScoreArea {
  margin-top: 40px;
}

.fishScoreValue {
  width: 50px;
  height: 50px;
}

.fishScoreBox {
  display: inline-block;
  margin-top: 20px;
}

.fishScoreFishImage {
  max-width: 150px;
  max-height: 52px;
  margin-top: -6px;
}

.fishScoreFishName {
  margin-top: -8px;
  font-size: 15px;
}

.siteFishInfoCircleGraphic {
  height: 30px;
  width: 30px;
}

.siteFishInfoCircleCutOff {
  width: 60%;
}

.siteFishInfoCircle {
  fill: #444444;
}

.siteFishInfoCircleBorder {
  fill: none;
  stroke: #444444;
}

.siteMap {
  height: 250px;
}


.guideImage {
  height: 100px;
 -webkit-border-radius: 50px;
 -moz-border-radius: 50px;
 -ms-border-radius: 50px;
 -o-border-radius: 50px;
  border-radius: 50px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}




.fishScoreValueCircle_0 {
  fill: #D11919
}

.fishScoreValueCircle_1 {
  fill: #D63333
}

.fishScoreValueCircle_2 {
  fill: #EE5233
}

.fishScoreValueCircle_3 {
  fill: #FF8533
}

.fishScoreValueCircle_4 {
  fill: #FFDB4D
}

.fishScoreValueCircle_5 {
  fill: #D3D129
}

.fishScoreValueCircle_6 {
  fill: #A3D119
}

.fishScoreValueCircle_7 {
  fill: #7CD62C
}

.fishScoreValueCircle_8 {
  fill: #42CC29
}

.fishScoreValueCircle_9 {
  fill: #19A319
}

.fishScoreValueCircle_10 {
  fill: #1F7A1F
}