<footer class='footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-1'>
        <a href='/fishing-report' class='footerLink'>Reports</a>
      </div>
      <div class='col-md-1'>
        <a href='/about' class='footerLink'>About</a>
      </div>
      <div class='col-md-1'>
        <a href='/contact' class='footerLink'>Contact</a>
      </div>
      
      <div class='col-md-9'>
        <a href="https://plus.google.com/116672312545175409850" rel="publisher" target="_blank">
          <%= image_tag('social/color-circle/googleplus.png', class: 'socialIcon') %>
        </a>
        <a href="https://twitter.com/_fishkick" rel="publisher" target="_blank">
          <%= image_tag('social/color-circle/twitter.png', class: 'socialIcon') %>
        </a>
        <a href="https://www.youtube.com/channel/UCNmkqLWRkxfpjg3qgh-Isaw" rel="publisher" target="_blank">
          <%= image_tag('social/color-circle/youtube.png', class: 'socialIcon') %>
        </a>
        <a href="https://www.facebook.com/fishkicked" rel="publisher" target="_blank">
          <%= image_tag('social/color-circle/facebook.png', class: 'socialIcon') %>
        </a>
      </div>

    </div>
  </div>
</footer>