<div id="navigation" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#">
        <div class='fishkickLogo'>
        </div>
      </a>
    </div>
    <div class='navbar-collapse collapse'>
      <ul class="nav navbar-nav navbar-right">
        <li><a href='/fishing-report' class='headerLink'>Reports</a></li>
        <li><a href='/about' class='headerLink'>About</a></li>
        <li><a href='/contact' class='headerLink'>Contact</a></li>
      </ul>
    </div>
  </div>
</div>