<div class='row siteMapLineInputBox'>
  <div class='col-md-10'>
    <%= f.text_area :line_data, class: 'mapLineInputTextbox' %>
  </div>
  <div class='col-md-2 deleteMapLine'>
    <%= f.link_to_remove 'delete', class: 'btn btn-default' %>
  </div>
</div>