<% content_for :head do %>
  <%= javascript_include_tag 'admin' %>
<% end %>

<ol class='breadcrumb'>
  <li><a href='/admin'>admin</a></li>
  <li><a href='/admin/sites'>sites</a></li>
  <li class='active'>edit</li>
</ol>

<h2>Admin: Edit Site</h2>
<h1><%= @site.name %></h1>
<%= link_to 'see report page', '/report/' + @site.name_url, :target => '_blank' %>
<br/><br/>

<%= render partial: 'form', locals: {site: @site, fish: @fish} %>